<h1 style="text-align: center">Render props</h1>

<div>
    <app-counter>
        <ng-template let-simpleValue="simpleValue"
                     let-on='on'
                     let-increment='increment'
                     let-decrement='decrement'
        >
            <app-ui-a-counter
                [simpleValue]="simpleValue"
                [on]="on"
                [increment]="increment"
                [decrement]="decrement"
            >
            </app-ui-a-counter>
        </ng-template>
    </app-counter>
    <hr>
    <hr>
    <hr>
    <app-counter>
        <ng-template let-simpleValue="simpleValue"
                     let-on='on'
                     let-increment='increment'
                     let-decrement='decrement'
        >
            <app-ui-b-counter
                [simpleValue]="simpleValue"
                [on]="on"
                [increment]="increment"
                [decrement]="decrement"
            >
            </app-ui-b-counter>
        </ng-template>
    </app-counter>


</div>
