<h1 style="text-align: center">Render props</h1>

<div>
    <app-mouse>
        <ng-template let-simpleValue="simpleValue"
                     let-on='on'
                     let-increment='increment'
                     let-decrement='decrement'
        >
            <h1> Inc count  {{on}} </h1>
            <button (click)="increment()">INC</button>
            <hr>
            <h1> Dec count  {{simpleValue}} </h1>
            <button (click)="decrement()">DEC</button>
        </ng-template>
    </app-mouse>
    <hr>
    <hr>
    <hr>
    <app-mouse>
        <ng-template let-simpleValue="simpleValue"
                     let-on='on'
                     let-increment='increment'
                     let-decrement='decrement'
        >
            <h1> Inc count  {{on * 10}} </h1>
            <button (click)="increment()">INC</button>
            <hr>
            <h1> Dec count  {{simpleValue * 10}} </h1>
            <button (click)="decrement()">DEC</button>
        </ng-template>
    </app-mouse>


</div>
