<h1 style="text-align: center">1. Render props</h1>

<div>
    <app-counter>
        <ng-template let-simpleValue="simpleValue"
                     let-on='on'
                     let-increment='increment'
                     let-decrement='decrement'
        >
            <app-ui-a-counter
                [simpleValue]="simpleValue"
                [on]="on"
                [increment]="increment"
                [decrement]="decrement"
            >
            </app-ui-a-counter>
        </ng-template>
    </app-counter>
    <hr>
    <hr>
    <hr>
    <app-counter>
        <ng-template let-simpleValue="simpleValue"
                     let-on='on'
                     let-increment='increment'
                     let-decrement='decrement'
        >
            <app-ui-b-counter
                [simpleValue]="simpleValue"
                [on]="on"
                [increment]="increment"
                [decrement]="decrement"
            >
            </app-ui-b-counter>
        </ng-template>
    </app-counter>


</div>

<div style="height: 20px; background-color: green; margin: 50px"></div>

<h1 style="text-align: center">2. NgComponentOutlet</h1>
<ul>
    <li>
        <a href="https://medium.com/@symposia/dynamic-component-rendering-in-angular-5-with-ngcomponentoutlet-410bec3ece75">medium</a>
    </li>
    <li>
        <a href="https://angular.io/api/common/NgComponentOutlet#description">official doc</a>
    </li>
</ul>
<!--<mat-tab-group>
    <mat-tab *ngFor="let tab of dynamicTabs" label="{{tab.label}}">
        <ng-container *ngComponentOutlet="tab.component"></ng-container>
    </mat-tab>
</mat-tab-group>-->

<div *ngFor="let beat of beats">
    <ng-container *ngComponentOutlet="componentClass; injector: getInjector(beat)" ></ng-container>
</div>
